/* Global Styles */
body {
  margin: 0;
  font-family: 'Fira Code', monospace;
  background-color: #0f111a;
  color: #f5f5f5;
}

/* Layout */
.app {
  display: flex;
  height: 100vh;
}

/* Sidebar */
.sidebar {
  margin-top: 50px;
  width: 300px;
  background-color: #1a1c2b;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  border-right: 1px solid #333;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  box-sizing: border-box;
  overflow-y: auto;
}

/* Headings inside sidebar */
.sidebar h2 {
  font-size: 1.2rem;
  color: #00ffae;
  margin-bottom: 5px;
}

.sidebar ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.sidebar li {
  margin-bottom: 10px;
  font-size: 0.9rem;
  display: flex;
  justify-content: space-between;
  color: #ccc;
}

.sidebar li strong {
  color: #fff;
}

/* Main Content */

.navbar {
  width: 100%;
  max-width: 100vw;
  height: 60px;
  background-color: #1a1c2b;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  border-bottom: 1px solid #333;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  box-sizing: border-box;
  overflow-x: auto;
}

/* Logo*/
.navbar .logo {
  font-family: 'Fira Code', monospace;
  font-size: 1.5rem;
  font-weight: bold;
  color: #00ffae;
  cursor: pointer;
}

/* Navigation Links */
.navbar .nav-links {
  display: flex;
  gap: 20px;
  margin-left: 100px;
}

.navbar .nav-links a {
  color: #ccc;
  text-decoration: none;
  font-size: 1rem;
  transition: color 0.2s, transform 0.2s;
}

.navbar .nav-links a:hover {
  color: #00ffae;
  transform: scale(1.05);
}


.main-content {
  margin-left: 500px;
  height: 100vh;
  padding: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;      
  justify-content: center;
  box-sizing: border-box;
}

.main-content h1 {
  font-size: 3rem;
  color: #00ffae;
  margin-bottom: 10px;
}

.main-content p {
  margin-bottom: 40px;
  font-size: 1.2rem;
  color: #aaa;
}

/* Search Form */
.search-form {
  display: flex;
  width: 100%;
  max-width: 600px;
}

.search-form input {
  flex: 1;
  padding: 15px 20px;
  border-radius: 5px 0 0 5px;
  border: none;
  font-size: 1rem;
  outline: none;
  background-color: #222339;
  color: #fff;
}

.search-form input::placeholder {
  color: #888;
}

.search-form button {
  padding: 15px 20px;
  background-color: #00ffae;
  border: none;
  border-radius: 0 5px 5px 0;
  font-weight: bold;
  cursor: pointer;
  transition: 0.2s;
}

.search-form button:hover {
  background-color: #00d88c;
}

.response-box {
  margin-top: 30px;
  background-color: #222339;
  padding: 20px;
  border-radius: 8px;
  max-width: 600px;
  width: 100%;
  color: #fff;
  border-left: 4px solid #00ffae;
}

.response-box h3 {
  margin-top: 0;
  color: #00ffae;
  font-size: 1.2rem;
}

.response-box p {
  margin: 10px 0 0 0;
  white-space: pre-wrap;
}
